<body>
    <section>
        <div class="container home">
            <div class="margintop">
                <p class="subtitle">Hi!, i'm Moisés,</p>
                <script></script>
                <h1 class="title">I am <span class="highlight"> a FullStack Developer</span></h1>
                <p class="info">I'm a passionate programmer with over 4 years <br> of experience across various languages and technologies.</p>
                <a class="btn btn-dark Cv" href="https://drive.google.com/file/d/1UACFtV6IO8C8v2WKckFoHjuXQf3xtxz4/view?usp=sharing" target="_blank">Download CV</a>
                <div class="btnred">
                    <a href="https://github.com/MJoDev" class="aPage" target="_blank"> <fa-icon [icon]="faGithub"></fa-icon></a>
                    <a href="https://www.linkedin.com/in/stoppedmjdev/" class="aPage" target="_blank"> <fa-icon [icon]="faLinkedin"></fa-icon></a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="skills">
            <div class="container">
                <h1 class="title">My <span class="highlight">Skills</span></h1>
                <p class="info"> MEAN stack, Java, Python, C#, <br>  AI, DevOps & Hacking</p>
                <div class="btnskills technologies">
                    <fa-icon class="aPage" [icon]="faAngular"></fa-icon>
                    <fa-icon class="aPage" [icon]="faNodeJs"></fa-icon>
                    <fa-icon class="aPage" [icon]="faHtml5"></fa-icon>
                    <fa-icon class="aPage" [icon]="faCss3"></fa-icon>
                    <fa-icon class="aPage" [icon]="faBootstrap"></fa-icon>
                    <fa-icon class="aPage" [icon]="faGit"></fa-icon>
                    <br>
                    <fa-icon class="aPage" [icon]="faJava"></fa-icon>
                    <fa-icon class="aPage" [icon]="faPython"></fa-icon>
                    <fa-icon class="aPage" [icon]="faDocker"></fa-icon>
                    <fa-icon class="aPage" [icon]="faJenkins"></fa-icon>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="projects">
            <div class="container">
                <h1 class="title">My <span class="highlight">Projects</span></h1>
                <div class="row mt-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" alt="Java Chess">
                        <div class="card-body">
                          <h5 class="card-title">Java Chess</h5>
                          <p class="card-text">A complete chess game made in Java.</p>
                          <a href="#" class="btn btn-dark Cv">Go to repository</a>
                        </div>
                    </div>
                    <div class="card mx-5" style="width: 18rem;">
                        <img class="card-img-top" alt="Python Games">
                        <div class="card-body">
                          <h5 class="card-title">Python Games</h5>
                          <p class="card-text">A series of videogames made in Python with PyGame and Turtle.</p>
                          <a href="#" class="btn btn-dark Cv">Go to repository</a>
                        </div>
                      </div>
                </div>
                
            </div>
        </div>
    </section>
</body>
