.margintop{
  margin-top: 15%;
}
.title {
    font-size: 3rem;
    font-weight: bold;
    color: #023047;
    text-align: left; /* Centrar el texto */
  }
.highlight {
    color: #ffb703;
    width: 0;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #023047; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 1s steps(20, end),
      blink-caret .75s step-end infinite;
    letter-spacing: .01em; /* Adjust as needed */
}
  
.subtitle {
    font-size: 1.5rem; /* Tamaño de fuente más pequeño para el subtítulo */
    font-weight: 300; /* Hacer el texto más fino */
    color: #0f0f0f; /* Color más tenue */
    text-align: left; /* Centrar el texto */
    margin-bottom: 0%;
}
  
.info {
    font-size: 1rem; /* Tamaño de fuente más pequeño para el texto adicional */
    color: #113141; /* Color más tenue */
    text-align: left; /* Centrar el texto */
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #023047; }
}

html, body {
  width: 100%;
  height:100%;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {
  color: #999;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

.btnred {
  width: 40px;
  margin-top: 2%;
  white-space: nowrap;
  cursor: pointer;
}

.aPage{
  color: #113141;
  text-decoration: none;
  margin-right: 10px;
}

.aPage:hover{
  transition: color 0.3s;
  color: #ffb703;
}

.Cv{
  background-color: #113141;
  border-color: #113141;
  text-decoration: none;
}

.Cv:hover{
  background-color: #ffb703;
  border-color: #ffb703;
  transition: color 2s;
  
}

